variables are used store values 

(
int , string , float , booleean 

number , "Lecture" , 65.7 , Ture or False  )

In [16]:
Number = "Siraj"
num2 = 6

check = True

num3 =  5

num3

5

Datatypes

In [18]:
print(type(num3))
print(type(num2))
print(type(Number))
print(type(check))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

Print()

In [ ]:
print("This is the lecture 1")

This is the lecture 1

input

List , Tuple 

tuple:

 b = (0, 1, 2, 3)

b[0] = 4
print(b)

list:


a = [1, 2, 4, 4, 3, 3, 3, 6, 5]


a[3] = 77
print(a)

In [37]:

# age = (20,23,24,25,26)
# #index = 0,1,2,3,4 
# age[3] =27

# print(age[3])

val = 567

student = ["abc", "Darshan", "Kanwal", "khan", "Harry"]
Age=[30,27,24,25,23]
sem = [5,6,7,8,3]





print("Student Name : " ,student[0], ", Age  :" , Age[0], " , Semester : " ,sem[0])

print("This was the value of index " , val )

Student Name :  abc , Age  : 30  , Semester :  5
This was the value of index  567

Dictionary 

student = {
    "name": "Siraj",
    "age" : 24,
    "gender": "male",
    

}

<class 'dict'>

Arithmetic Operators
Assignment operators
relational Operators
logical operators

if else

modulus

0



Even or Odd Checker


Positive, Negative, or Zero


Check Age Eligibility



Number Comparison


Check Multiple of 5


(exchange the variable data)