Array / List

append()
insert()
extend()

In [4]:
number = [1,2,3,4,5,6,7]

print(number)

number.append(8)

number

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6, 7, 8]

input a list  ..  will explain in the split() further more

In [13]:
number = [1,2,4,5,6,7]

print(number)



number.insert(2,3)

#insert(index,value)

print(number[2])

[1, 2, 4, 5, 6, 7]
3

In [ ]:
number = [1,2,4,5,6,7]

num2 = [8,9,10,11]





number.extend(num2)

number[1:5]

[2, 4, 5, 6, 7]

[2, 4]


array element change multiple  array[x:n-1]  # x will be index number from x to n-1 value 

example:

list = ["bob", "Jen",1,2,"array"]

list[2:4] = ["jerry","bob2","smith"]

list

We can also replace multple element with single element

example :

array = ['bob', 'Jen',1,2,'array']

i want to replace the 1 and 2 with jerry

array[2:4] = ["jerry"]

In [26]:
list = ["bob", "Jen",1,2,"list"]


n2 = ["jerry","bob2","smith"]

list[2:4] = ["jerry"]


list

['bob', 'Jen', 'jerry', 'list']

warping the input as int()

In [27]:
n = int(input("Enter the number for fibonacci series....."))

type(n)

int

Input a List using Loops in Python

str

sorted array

In [ ]:
numbers =[1233,56,34,5,6,62,5,2]

numbers.sort()




numbers

[2, 5, 5, 6, 34, 56, 62, 1233]

Split

remove() just removes the given value
pop() with index and without index
del 
clear()

In [40]:
numbers =[12,23,45,67,88]

numbers.remove(67)

numbers

[12, 23, 45, 88]

In [ ]:
numbers =[12,23,45,67,88]

numbers.clear()



numbers

[]

in 

name with J 

j in name

In [49]:
names = ["James", "Bob","jeery","jacob", "Siraj"] 


for name in names:
    if "j" in name:
        print(name)



for name in names:
    if  name.startswith("J") and name.startswith("j"):
        print(name)

jeery
jacob
Siraj

append()
insert()
extend()
task practice
in , startswith()

.sort
.remove 
.pop
.clear()
del(varaible )

indexing -1 -2

change values in the array with multiple index [2:4]

house task:

Create an empty list and add three numbers into it.

Start with the list [1, 2, 4, 5] and insert the number 3 at index 2.

Combine two lists [1,2,3] and [4,5,6] into one.

Write a program that takes 5 numbers from the user and stores them in a list.

Check if the number 10 is present in the list [5, 10, 15, 20].

Given a list ['apple', 'banana', 'apricot', 'cherry'], print only the words that start with 'a'.

Sort the list [3,1,4,2] in ascending order.

From the list [10,20,30,40], remove the value 30.

Remove the last element from the list [1,2,3,4,5].

Clear all elements from the list [100, 200, 300].

Create a list [5,10,15,20] and delete the second element.

From the list [11,22,33,44,55], print the last element.

From the list [11,22,33,44,55], print the second last element.

Given the list [0,1,2,3,4,5], change the values at index 2 to 4 with [100,200].

In [1]:
list14 = [1, 2, 3]
list15 = [4, 5, 6]

concat_list = list14 + list15

print(concat_list)

[1, 2, 3, 4, 5, 6]