Array / List

append()
insert()
extend()

input a list  ..  will explain in the split() further more


array element change multiple  array[x:n-1]  # x will be index number from x to n-1 value 

example:

list = ["bob", "Jen",1,2,"array"]

list[2:4] = ["jerry","bob2","smith"]

list

We can also replace multple element with single element

example :

array = ['bob', 'Jen',1,2,'array']

i want to replace the 1 and 2 with jerry

array[2:4] = ["jerry"]

warping the input as int()

12

Input a List using Loops in Python

sorted array

Split

remove()
pop() with index and without index
del 
clear()

'bob'

in 

name with J