Multi of any number:

In [ ]:
num = input("Enter any number to create Table : ")

num = int(num)

for x in range(1 ,11):
    print( x ," * ", num ," = ",x*num)

    # 1 * 5 = 5

make_a_table()

1  *  5  = {num} 5
2  *  5  = {num} 10
3  *  5  = {num} 15
4  *  5  = {num} 20
5  *  5  = {num} 25
6  *  5  = {num} 30
7  *  5  = {num} 35
8  *  5  = {num} 40
9  *  5  = {num} 45
10  *  5  = {num} 50

functions

In [ ]:
def make_a_table():
    num = input("Enter any number to create Table : ")

    num = int(num)

    for x in range(1 ,11):
         print( x ," * ", num ," = ",x*num)
            




make_a_table()

1  *  5  =  5
2  *  5  =  10
3  *  5  =  15
4  *  5  =  20
5  *  5  =  25
6  *  5  =  30
7  *  5  =  35
8  *  5  =  40
9  *  5  =  45
10  *  5  =  50
1  *  6  =  6
2  *  6  =  12
3  *  6  =  18
4  *  6  =  24
5  *  6  =  30
6  *  6  =  36
7  *  6  =  42
8  *  6  =  48
9  *  6  =  54
10  *  6  =  60
1  *  7  =  7
2  *  7  =  14
3  *  7  =  21
4  *  7  =  28
5  *  7  =  35
6  *  7  =  42
7  *  7  =  49
8  *  7  =  56
9  *  7  =  63
10  *  7  =  70

Return in fucntion

In [20]:
def sum():
    num = input("enter any value.....")
    num = int(num)

    num2 = num+ 5

    return 1
    

result = sum()

print(result)

1

In [ ]:
def greet():
      name = input("hello, My Name is Siraj, what is yours? ...")
      print("Hello..",name)
      print("how you doing?")

      return name


user_name  =  greet()

greet()

Hello.. neha
how you doing?
Where you live?  neha
Hello.. ahmed
how you doing?
hey there, ahmed

In [26]:
def greet():
      name = input("hello, My Name is Siraj, what is yours? ...")
      
      if name=="Siraj":
            print("We have the same name")
            return name

      
      print("Hello..",name)
      print("how you doing?")
      return name
      


user_name  =  greet()

Hello.. ahmed
how you doing?

parameters

In [49]:


def greet(xyz, name):
    print("Hello ", xyz , name)
    print("how you doing")
    





xyz = "abc"
name = "def"

# greet("neha")


greet()

TypeError: greet() missing 2 required positional arguments: 'xyz' and 'name'

Even or Odd Checker
Write a function is_even(number) that returns True if the number is even, otherwise False.

Maximum of Two Numbers
Write a function max_of_two(a, b) that returns the greater number.

Factorial Calculator
Write a function factorial(n) that returns the factorial of a number using recursion.

Palindrome Checker
Write a function is_palindrome(s) that returns True if the string is a palindrome.

Fibonacci Sequence Generator
Write a function fibonacci(n) that returns the first n Fibonacci numbers as a list.

Prime Checker
Write a function is_prime(n) that returns True if the number is prime.

Sum of Digits
Write a function sum_of_digits(n) that returns the sum of all digits of the number.

Reverse a String
Write a function reverse_string(s) that returns the reversed version of a string.

Count Vowels
Write a function count_vowels(s) that returns the number of vowels in the given string.

Simple Calculator
Write a function calculator(a, b, op) where op is one of '+', '-', '*', '/', and it returns the result.