variables are used store values 

(
int , string , float , booleean 

number , "Lecture" , 65.7 , Ture or False  )

In [16]:
Number = "Siraj"
num2 = 6

check = True

num3 =  5

num3

5

Datatypes

In [18]:
print(type(num3))
print(type(num2))
print(type(Number))
print(type(check))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

Print()

In [ ]:
print("This is the lecture 1")

This is the lecture 1

input

List , Tuple 

tuple:

 b = (0, 1, 2, 3)

b[0] = 4
print(b)

list:


a = [1, 2, 4, 4, 3, 3, 3, 6, 5]


a[3] = 77
print(a)

In [37]:

# age = (20,23,24,25,26)
# #index = 0,1,2,3,4 
# age[3] =27

# print(age[3])

val = 567

student = ["abc", "Darshan", "Kanwal", "khan", "Harry"]
Age=[30,27,24,25,23]
sem = [5,6,7,8,3]





print("Student Name : " ,student[0], ", Age  :" , Age[0], " , Semester : " ,sem[0])

print("This was the value of index " , val )

Student Name :  abc , Age  : 30  , Semester :  5
This was the value of index  567

Dictionary 

student = {
    "name": "Siraj",
    "age" : 24,
    "gender": "male",
    

}

In [43]:

student = {
    "name": "Siraj",
    "age" : 24,
    "Salary": 45000.6,
    "gender": "male",
    

}


print(student["age"])

24

Arithmetic Operators 
Assignment operators
relational Operators
logical operators


 a = b

In [ ]:
num = 7
num2 =  7
# + , - , * , / , %
#   = , += ,
#!=  not equal , == eqaul to , < , >less , greater  >= , <= greater and equal, less and equal 
# and , or , not 


a =  num2 != num



a

True

if else

In [66]:
num = 3
num2 = 3

# if conditions:
#     statements



if num > num2:
    print("Num is greater ")
    num2+=2
else:
    print("num2 is greater")
   


if num > num2:
    print("Num is greater ")
    num2+=2
elif num < num2:
    print("num2 is greater")
    num+=3


print(num , num2)

num2 is greater
3 3

modulus

0



Even or Odd Checker


Positive, Negative, or Zero


Check Age Eligibility



Number Comparison


Check Multiple of 5


(exchange the variable data)

In [69]:
person = "Siraj"

age = 40


if age <18:
    print(person," Cant Drive the car")
elif age>18 and age<=40:
    print(person ,"Can Drive a car")
else:
    print(person, "cant drive a car")

Siraj Can Drive a car

In [73]:
num = 59


if num %5 ==0:
    print("the number is multiply of 5")
elif num%5 >=1:
    print("Is not multiply of 5")


num%5

Is not multiply of 5

4

In [87]:
num = 8


if num%4 ==0:
    print("it's a multiple of 4 ")
elif num%4 >=1:
    print("its not a miltple of 4")

it's a multiple of 4

In [ ]:
a = 2 
b = 3

c = a # c = 2

a =b # a =b means a  = 3

b = c # b=c means b = 2

print(a , "This is the value of a ")

print(b, "this is the value of b")

3 This is the value of a
2 this is the value of b

In [ ]:
num = 30

num2 = num


print(30)

30