variables

Datatypes

Print()

input

List , Tuple 

tuple:

 b = (0, 1, 2, 3)

b[0] = 4
print(b)

list:


a = [1, 2, 4, 4, 3, 3, 3, 6, 5]


a[3] = 77
print(a)

<class 'list'>

Dictionary 

student = {
    "name": "Siraj",
    "age" : 24,
    "gender": "male",
    

}

<class 'dict'>

Arithmetic Operators
Assignment operators
relational Operators
logical operators

if else

modulus

0



Even or Odd Checker


Positive, Negative, or Zero


Check Age Eligibility



Number Comparison


Check Multiple of 5


(exchange the variable data)